<div class="main movie-show">
  <div class="container">
    <div class="movie">
      
      <!-- Display the movie's info here -->
      <div class="info">
        <%= image_tag @movie.img_src %>
        <h3 class="movie-title"><%= @movie.title %></h3>
        <p class="movie-plot"><%= @movie.description %></p>
      </div>
    </div>
  </div>
</div>
